*{
    box-sizing: border-box;

}

body{
    overflow: hidden;
    background-color: #FADDA1;
}

.outer-container{
    border: 5px solid #985812;
    background-color: #F7941D;
    width: 440px;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    height: 580px;
    border-radius: 30px;
    box-shadow: 6px 6px #bab4b4;

}
.container {
    border: 5px solid #F7941D;
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: auto;
    margin: 15px auto;
    padding:10px;
    border-radius: 30px;
    background-color: #FCB92D;
}

.panel {
display: flex;
border: 4px solid #5D2A00;
border-radius:2px;
background-color: #9CE4FA;
height: 130px;
margin: 25px 0;
padding: 10px;
}

.inner-panel     {
    background-color: #BEF7FF;
    width: 360px; 
}

.screen {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin:5px 10px;
    overflow: hidden;
}
 .buttons{
    display: flex;
 }

.number-btn {
width:  100%;       
flex-wrap: wrap;
display: flex;
padding: 7px 5px 5px 0;
overflow: hidden;
justify-content: center;
align-content: flex-start;
}

button {
    cursor: pointer;
    padding: 23px;
    margin:2px;
    background-color: #FADDA1;
    font-size: 20px;
    font-weight: 300;
    border:4px solid #5D2A00;
    border-radius: 10px;
}

button:hover{
    background-color: #f1c670;

}

div .number-btn{
    margin: auto;
}


footer{
    margin-top: 100px;
    margin:10px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 13px;

}
img {
width:15px; margin: 0 5px;
}

footer img:hover {
 transform: scale(1.2);
 cursor: pointer;

}

a{
    text-decoration: none;
    color: black
}

.clear button{
    height:135px;
}

.operator{
    background-color:#ceeaf2;
}
.operator:hover{
    background-color:#8dcada;
}

.clear{
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    justify-content: center;
}


