*{
    box-sizing: border-box;

}

body{
    overflow: hidden;

}
.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 550px;
    margin: 40px auto;
    padding:10px;
    border-radius: 15px;
}

.panel {
display: flex;
border: 1px solid pink;
width:900px;
height: 150px;
margin: 20px;
padding: 10px;
}

.button-number {
border: 1px solid blue;
margin: 10px;
height: 330px;
width:  auto;
display: flex;
padding: 10px;
flex-direction: column;
overflow: hidden;

}

button {
    cursor: pointer;
    padding: 23px;
    margin: 2px;
}

div .button-number{
    margin: auto;
}

